.app {
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
  background: greenyellow;
  width:100px;
  transition: width .6s ease-in-out;
}

.app:hover {
  width:300px;
}

.txt {
  font-size: 20px;
}